html, body {
    background-color: #fff !important;
    color: #636b6f !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100 !important;
    height: 100vh !important;
    margin: 0 !important;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.form-group.required label.col-form-label:after {
    content:" *";
    color:red;
}

.video-container video#localVideo {
    position: fixed;
    bottom: 35px;
    right: 30px;
    width: 200px;
}

.video-container video#remoteVideo {
    -webkit-box-shadow: 0 0 30px 10px rgba(0,0,0,0.125);
    -moz-box-shadow: 0 0 30px 10px rgba(0,0,0,0.125);
    box-shadow: 0 0 30px 10px rgba(0,0,0,0.125);
    width: 100%;
}

pre.log {
    border-bottom: 1px solid red;
    margin-top: 15px;
}