input[type="password"] {
    font: 17px Verdana,sans-serif;
}

.teacher-video span {
    top: 34% !important;
    padding-top: 22% !important;
}

.bookModal .bookModal-wrap {
    overflow-y: auto;
}

@media screen and (max-width: 1200px) {
    .bookModal .bookModal-wrap {
        width: 70%;
    }

    .bookModal .bookModal-left {
        width: 30%;
    }
}

@media screen and (max-width: 800px) {
    .bookModal .bookModal-wrap {
        width: 100%;
    }

    .bookModal .bookModal-left {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .doorInp-wrap {
        margin-bottom: 0;
    }
}

.auth form input {
    width: 230px;
}

a:hover, a:focus {
    outline: none;
}

a:focus {
    text-decoration: underline;
}

.consentDoor {
    text-decoration: none !important;
}

a.forgot-password {
    font-size: 16px;
    color: #30b7ff;
}

.register button {
    border: 1px solid #30b7ff;
}

.register button:focus, .register button:hover {
    background-color: #2e8fd1;
    border-color: #00659a;
}

.doorInp {
    display: inline-table;
}

.doorInpSel .jq-selectbox__select-text {
    color: #000;
    font-family: Circe-Light;
}

.no-value .jq-selectbox__select-text {
    color: #d7d8d9 !important;
}

label:focus {
    outline: none;
    text-decoration: underline #30b7ff;
}

input {
    border: 1px solid #ced4da;
}

:disabled {
    border: none !important;
}

input.is-valid, textarea.is-valid,
select.is-valid ~ .select2-container.select2-container--default .select2-selection,
form.was-validated input:valid, form.was-validated textarea:valid,
form.was-validated select:valid ~ .select2-container.select2-container--default .select2-selection {
    border-color: #11d49c;
}

input.is-invalid, textarea.is-invalid,
select.is-invalid ~ .select2-container.select2-container--default .select2-selection,
form.was-validated input:invalid, form.was-validated textarea:invalid,
form.was-validated select:invalid ~ .select2-container.select2-container--default .select2-selection {
    border-color: #ec3457 !important;
}

.doorInp p.message {
    max-width: 210px;
    color: #000;
    margin: 10px 0 0 30px;
}

.message.success {
    color: #28a745 !important;
}
.message.error {
    color: #ec3457 !important;
}

a.WMStudio {
    text-decoration: underline;
}

a.WMStudio:focus {
    text-decoration: underline #fff;
}

.tariffs input.phone {
    padding: 0 27px;
}

.wrapToils .vkontakte { background: url(../img/vk-ic.png) center no-repeat; }
.wrapToils .facebook { background: url(../img/fs-ic.png) center no-repeat; }
.wrapToils .odnoklassniki { background: url(../img/ok-ic.png) center no-repeat; }
.wrapToils .twitter { background: url(../img/tw-ic.png) center no-repeat; }
.wrapToils .google { background: url(../img/g-ic.png) center no-repeat; }
.wrapToils .instagram { background: url(../img/in-ic.png) center no-repeat; }

form.social {
    display: inline-flex;
}

form.social button.wrapToils {
    cursor: pointer;
    border: none;
}

.periodStudy-selected {
    display: block;
}

.periodStudy-selected .table {
    text-align: start;
}

.periodStudy input[type=radio] {
    display: none;
}

.periodStudy input[type=radio]:checked + .wrapMonth {
    border: 6px solid #31b7ff;
    border-radius: 10px;
    padding: 65px 0;
    margin-top: -5px;
}

.periodStudy input[type=radio]:checked + .wrapMonth > .wrapCalendar-ic > .discount {
    margin-right: -5px;
}

.modal-row {
    z-index: 1000;
}

.link-h a:hover {
    border: none !important;
    padding: 0 !important;
}

.link-h {
    position: relative;
}

.link-h:hover:after,
.link-h.active:after,
.link-h.active:hover:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #30b7ff;
    left: 0;
    bottom: -25px;
}

.link-h.active:after {
    background-color: #10d49b;
}

.link-h span.static {
    position: relative;
    font-family: Circe-Regular;
    display: inline;
    color: #231f20;
    border: none;
    top: 0;
    left: 0;
}

.questions-wrap ul.six-visible ~ .questions-link .hide-questions,
.questions-wrap ul.six-visible.all-visible ~ .questions-link .show-questions {
    display: none;
}

.questions-wrap ul.six-visible ~ .questions-link .show-questions,
.questions-wrap ul.six-visible.all-visible ~ .questions-link .hide-questions {
    display: inline;
}

.questions-wrap ul.all-visible li {
    display: list-item !important;
}

.questions-wrap ul.six-visible li:nth-child(n+7) {
    display: none;
}

.questions-wrap ul.all-visible li {
    display: list-item !important;
}

.questions-link {
    border: none;
    cursor: pointer;
}

.instructionNum {
    padding: 2px 1px 0;
}

.usefullyBtn {
    width: 45px;
    height: 45px;
}

.usefullyBtn:hover {
    background-color: #31b7ff;
    color: #fff;
}

.supportSubtitle {
    background-color: #fff;
}

.accForm-info-ic {
    align-self: center;
    width: 20px;
    height: 18px;
    padding-top: 2px;
}

.blocker {
    z-index: 1001 !important;
}

.jquery-modal .modal {
    max-width: 80%
}

.cropper-container {
    max-height: 80vh;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.accInfo-edit {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 65px;
    right: 90px;
    display: inline-block;
    background: url(../img/edit-ic.png) center no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
}

.accInfo-boxWeb:not(.active):hover {
    border-color: #10d49b;
}

.booking-title .error-header ~h4,
.booking-title .error-header ~h6 {
    display: none;
}

.booking-subtitle .error-message ~p {
    display: none;
}

.accInfoLine > p.message {
    margin-left: 320px;
}

.profile-type .listTeachers {
    display: none;
}

.listTeachers.active {
    display: block;
}

.listTeachers.reservation-list {
    z-index: 0;
}

.select2-multi .not-confirmed.active {
    background-color: #aaa;
    color: #fff;
}

.select2-multi .not-confirmed {
    border-color: #aaa;
    color: #aaa;
}

.select2-multi .rejected {
    border-color: #ec3457;
    color: #ec3457;
}

.profileList .textarea {
    resize: vertical;
    min-height: 110px;
}

.profileList .textarea:focus {
    border-color: #30b7ff;
}

button.downloadLink {
    border: none;
    cursor: pointer;
}

.download-ic {
    margin-right: 5px;
}

input.fillAcc-link {
    padding: 0 20px;
}

input.fillAcc-link:focus {
    border: 2px solid #30b7ff;
}

.sidebar {
    z-index: 7;
}

.sidebar-select.not-confirmed {
    background-color: #aaa;
}

.sidebar-select.rejected {
    background-color: #ec3457;
}

.profileList.empty-teacher-field {
    border: 2px solid #aaa;
}

span#fileName {
    display: block;
}

.active .quantity {
    color: #30b7ff;
    background-color: #fff;
}

button.notification.linc-column {
    border: none;
}

.link-over {
    border: none;
}

.like .hear {
    margin-bottom: -9px;
}

.studentInfo-info {
    width: 100%;
}

.shortInfo {
    width: 62%;
}

.iSM-tabsContent .aboutStudent-training {
    padding-left: 15px;
}

button.clean-linc {
    border: none;
    margin-bottom: -10px;
}

.teachStyle-pdr {
    padding-right: 35px;
}

span.quantity:empty {
    display: none;
}

#card-container {
    min-height: 390px;
}

.minInfo .dialect.hidden ~ .tag {margin-top: 34px;}


/*--- датапикер  + ---*/
.btn2field.datePicker-field {
    width: auto;
    padding: 5px;
}

.btn2field.datePicker-field input{
    border: none;
}
.btn2field.datePicker-field input#dateInterval{
    border-bottom: 1px solid #ccc;
}
.btn2field.datePicker-field .datepicker{
    border: none;
}

.btn2field.datePicker-field .datepicker--nav{
    border-bottom: none;
}

.btn2field.datePicker-field .datepicker--day-name{
    color: #2f3650;
}

.btn2field.datePicker-field .clearDate{
    border: none;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn2field.datePicker-field .ok{
    order: 2;
    background-color: #31b7ff;
    color: #ffffff;
    border-radius: 100px;
    padding: 5px 12px;
    cursor: pointer;
}
.btn2field.datePicker-field .ok:hover {
    background-color: #5f7ca8;
}

.btn2field.datePicker-field .clear{
    order: 1;
    border-left: 0;
    cursor: pointer;
}

.btn2field.datePicker-field .clearDate button.ok:before{
    display: none;
}
.btn2field.datePicker-field .clearDate button:hover{
    background-color: transparent;
    color: #000;
}
.btn2field.datePicker-field .datepicker--nav-title{
    color: #32b7fc;
}
/*--- датапикер  - ---*/


input#dateInterval {
    width: 100%;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    padding: 3px 7px;
    line-height: 23px;
    font-size: 15px;
}

input#dateInterval:focus {
    border-color: #ced4da;
}

input#dateInterval ~ .datepicker-inline .datepicker {
    border-radius: 0;
}

.clearDate {
    border: 1px solid #d7d7d7;
    border-top: none;
    border-radius: 0 0 4px 4px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.clearDate button {
    border: none;
    width: 100%;
    text-align: center;
    position: relative;
    padding-left: 25px;
}

.clearDate button:hover {
    background-color: #f0f0f0;
}

.clearDate button.ok:before {
    content: '\2713';
    position: absolute;
    color: #30b7ff;
    font-size: 25px;
    left: 6px;
    top: -3px;
}

.clearDate button.clear {
    border-left: 1px solid #f0f0f0;
}

.clearDate button.clear:before,
.clearDate button.clear:after {
    position: absolute;
    left: 12px;
    top: 4px;
    content: " ";
    height: 18px;
    border-radius: 1px;
    width: 2px;
    background-color: #30b7ff;
}

.clearDate button.clear:before {
    transform: rotate(45deg);
}
.clearDate button.clear:after {
    transform: rotate(-45deg);
}

.dialectLangRadio:before {
    width: 16px;
    height: 16px;
}

.testList-wrap {
    display: block;
}

.test-issue {
    width: 26px;
    height: 26px;
}

.test-issue:hover .test-answer {
    bottom: 35px;
    right: -75px;
    z-index: 10;
}

.testBtn:disabled {
    background-color: #ddd;
    border-color: #ddd;
    cursor: no-drop;
}

.testPercent .result-bad { background-color: #ec3457; }
.testPercent .result-normal { background-color: #ffc107; }
.testPercent .result-good { background-color: #00c38b; }

.subscription-sort .sort label.sort-btn span {
    line-height: 0;
    width: 30px;
    height: 30px;
    font-size: 14px;
}
.subscription-sort .sort label.sort-btn span:empty {
    display: none;
}

#card-container .card {
    display: flex;
    flex-direction: column;
}

.card-text {
    margin-bottom: auto;
    padding-bottom: 20px;
}

.card-status {
    margin-top: auto;
}

.clean-linc {
    cursor: pointer;
}

.btn2field {
    cursor: default;
}

footer .footer-hidden {
    display: none;
}

.dataPiker-wrap {
    padding: 20px 0;
}

.wrapTimeReport {
    max-height: 385px;
    padding: 20px 0 0;
}

.topicImg {
    height: 0;
    padding-bottom: 80%;
}

.topicImg img {
    height: auto;
}

.topicImg button {
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.accInfoLine-inp {
    display: inline-block;
    max-width: 410px;
    width: 100%;
    border-radius: 0;
    height: auto;
    background-color: transparent;
    padding: 0;
    border: none;
}

input.accInfoLine-inp {
    max-width: 410px;
    width: 100%;
    border-radius: 40px;
    height: 48px;
    background-color: #ebeff2;
    padding-left: 25px;
    border: 2px solid #ccc;
}

.teacher {
    padding: 0 0 10px;
}

.table .custom-control-label::before {
    top: -13px;
}

.table .custom-control-label::after {
    top: -13px;
}

select.rating {
    display: none;
}

select.rating[data-hide-number] + .br-widget .br-current-rating {
    display: none;
}

.btn.discuss {
    border: 2px solid #11d49c;
}

.btn.discuss.checked {
    background-color: #fff;
    color: #11d49c;
}

.btn.discuss.author {
    background-color: #fff;
    color: #ffc107;
    border-color: #ffc107;
}

.close-modal {
    border: none;
    position: absolute;
    opacity: 1;
    right: 45px;
    top: 60px;
    background: url(../img/close-ic.png) center no-repeat;
    background-size: contain;
    width: 14px;
    height: 14px;
    cursor: pointer;
    z-index: 1;
}

.topic-container {
    padding: 20px;
    border-radius: 20px;
    font-family: Circe-Regular;
}

body.modal-opened {
    overflow: hidden;
}

.bookModal-wrap .findTeacher {
    position: relative;
    width: 100%;
    padding: 20px 0;
    z-index: 1;
    background-color: #ebeff2;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#topic-modal-teacher .findTeacher {
    padding: 20px 0;
}

#topic-modal-teacher .wrapBookModal-title {
    margin-bottom: 25px;
}

.topic-container ol, .topic-container ul {
    list-style: none;
    counter-reset: li;
    margin: 0;
    padding: 0 0 0 20px;
}

.topic-container ol li {
    counter-increment: li;
}

.topic-container li:before {
    color: #30b7ff;
    display: inline-block;
    text-align: right;
    width: 20px;
    margin-left: -20px;
    margin-right: 5px;
}

.topic-container ol li:before {
    content: counter(li) ".";
}

.topic-container ul li:before {
    content: "⦁";
}

.br-theme-fontawesome-stars-o .br-widget a:after,
.br-theme-fontawesome-stars-o .br-widget a.br-selected:after,
.br-theme-fontawesome-stars-o .br-widget a.br-fractional:after {
    color: #30b7ff;
}
.br-theme-fontawesome-stars-o .br-widget a.br-active:after {
    color: #2ea1eb;
}
.br-theme-fontawesome-stars-o .br-widget .br-current-rating {
    display: inline-block;
}
.br-theme-fontawesome-stars-o .br-widget a {
    font-size: 14px;
    margin-right: 4px;
}

.card-edit .btn, .card-edit form {
    display: inline-block;
}

.row.evenly {
    display: flex;
    justify-content: space-between;
}

.helpStudent.planWeek {
    margin: 0;
    width: 200px;
    max-width: 200px;
}

.helpStudent.planWeek .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0 15px;
}

.helpStudent.planWeek .select2-container--default .select2-selection--single.select2-selection--single {
    background-color: transparent;
}

.helpStudent.planWeek .select2-container--default.select2-container--open .select2-selection--single.select2-selection--single {
    background-color: #fff;
}

#topic-modal-create .findTeacher .issue {
    margin-right: 15px;
}

.row.evenly .col {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.smallRow {
    height: calc(100% - 355px);
}*/

.smallRow .many-card {
    margin-top: 5px;
}

.smallRow .profileList:empty {
    padding: 0;
    margin: 0;
}

.smallRow .profileList.errorList {
    color: #ec3457;
    margin-left: 180px;
    counter-reset: topic-error-list;
}

.smallRow .profileList.errorList p {
    counter-increment: topic-error-list;
}

.smallRow .profileList.errorList p:before {
    content: counter(topic-error-list) ".";
    margin-right: 5px;
    display: inline-block;
    text-align: right;
    width: 20px;
}


.smallRow .profileList.errorList a {
    color: #30b7ff;
}

.smallRow .profileList.errorList a:hover {
    text-decoration: underline;
    color: #2499d8;
}

.smallRow .profileList {
    padding: 20px 0;
}

.smallRow .nameFill {
    width: 180px;
}

.smallRow .fillAcc {
    width: calc(100% - 190px);
}

.smallRow .fillAcc .fillAcc-link {
    max-width: 100%;
}

.smallRow [class^="topic-tab-"] {
    display: none;
}
.smallRow [class^="topic-tab-"].active {
    display: block;
}

.answer.label {
    font-family: Circe-Regular;
    margin-left: 10px;
}

.smallRow .fillAcc.flex-between {
    display: inline-flex;
    justify-content: space-between;
}

.topic-img-container {
    display: flex;
    align-items: center;
}

.topic-img-container input[type="file"] {
    display: none;
}

.topic-img-container img {
    max-height: 48px;
    border-radius: 6px;
}

.topic-img-container label {
    margin-left: 15px;
    font-weight: bold;
    color: #30b7ff;
    cursor: pointer;
}

.topic-img-container label.error {
    color: #ec3457;
}

.topic-tab-link {
    padding-left: 190px;
}

.topic-tab-link .fillAcc-link {
    width: 390px;
}

.smallRow.center {
    display: flex;
    justify-content: center;
}

.colorGr {
    color: #999;
}

.appendText-wrap .dateBtn {
    background-color: #ebeff2;
    display: inline-block;
    padding: 11px;
    width: 130px;
    height: 46px;
}

.appendText-wrap .resume-cancel {
    line-height: normal;
    min-width: 160px;
    padding: 12px;
}

.add-time {
    display: inline-block;
}

.add-time .timeBtn-wrap {
    width: 65px;
    height: 48px;
    padding: 0;
}

.add-time .timeBtn {
    display: inline-block;
    width: 140px;
}

.highlight {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.highlight-active {
    -webkit-box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.2) !important;
}

.reservation-date {
    font-family: Circe-Bold;
    font-size: 20px;
    margin: 0 0 25px 15px;
}

.sort-wrap.btn2:hover {
    background-color: transparent;
}
.sort-wrap > input {
    position: relative;
    border-radius: 40px;
    border: 1px solid #ebeff2;
    width: 290px;
    max-width: 100%;
    padding: 10px 20px;
    outline: none;
    height: 48px;
}

.sort-wrap > input.active {
    border: 1px solid #30b7ff;
}

.card .link-over {
    cursor: alias;
}

.card .link-over ~ div {
    z-index: auto;
}

.card.cardBooking .link-over,
.card.cardBooking .link-over ~ .card-status .like .hear,
.card.cardBooking .link-over ~ .bookingCard-face .tag[data-id="user-diploma-element"] {
    z-index: 1;
}

.sort-wrap.btn2 .btn2field {
    top: 60px;
    left: 30px;
}

.StTch-info_dataPiker .datepicker--cell.datepicker--cell-day {
    border-radius: 100%;
}

.StTch-info_dataPiker .datepicker--cell.-current- {
    color: #2fb8ff;
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

.StTch-info_dataPiker .datepicker--cell.-selected- {
    color: #fff;
    background-color: #2fb8ff;
    border: none;
    text-decoration: none;
}

.datepicker--cell-day span.dp-note {
    position: absolute;
    background: #ccc;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    left: calc(50% - 2px);
    bottom: 3px;
}

.datepicker--cells.datepicker--cells-days .datepicker--cell.-selected-,
.datepicker--cells.datepicker--cells-days .datepicker--cell.-selected-.-current- {
    color: #fff;
    background: #5cc4ef;
}

.refuse .refuse-text {
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.findTeacher {
    z-index: 6;
}

.return:after {
    width: 0;
    background-color: #31b7ff;
    opacity: .6;
}

.return:hover:after {
    background-color: #ffffff;
    width: 100%;
    opacity: .6;
}

::-webkit-scrollbar-track-piece {
    border: none;
}

::-webkit-scrollbar-track-piece {
    border: none;
}

/* todo Сделать блок "не найдено" */
/*.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    border: 2px solid #ddd;
    border-radius: 40px;
}*/

.StTch-info .blockStudent-info.teacher-info {
    min-height: auto;
}

.teacher-info .dataPiker-wrap {
    width: 320px;
}

.teacher-info .append-DataTimePiker {
    padding: 20px 0 0 30px;
    position: relative;
    width: calc(100% - 320px);
}

.teacher-info .append-DataTimePiker .bookingTime {
    width: 49%;
    margin: 0 0 15px;
    max-width: none;
}

.uppercase {
    text-transform: uppercase;
}

.first-upper:first-letter {
    text-transform: uppercase;
}

.questionsSheet-wrap {
    padding: 55px 0 65px;
}

.wrapTariffs {
    padding: 0;
}

.absolute-link {
    position: fixed;
    top: 100px;
    right: 0;
    height: 36px;
    max-width: 1px;
    background-color: #ec3457;
    line-height: 1;
    padding: 10px 15px;
    border-radius: 18px 0 0 18px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
    z-index: 100;
}

.absolute-link:hover {
    max-width: 200px;
}

.absolute-link > a {
    color: #fff;
    white-space: nowrap;
    margin-left: 15px;
}

.absolute-link > a:hover {
    text-decoration: underline;
}

.absolute-link > a:before {
    content: "🡸";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
}

.absolute-link:hover > a.admin-preview-back:before {
    content: "⤴";
}

.absolute-link:hover > a.admin:before{
    content: "🗠";
}

.subscribe-errors {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.subscribe-errors > p {
    color: red;
}

.subscribe-errors > p:before {
    content: "🞷";
    font-size: 10px;
    display: inline-block;
    margin-right: 4px;
    transform: translateY(-3px);
}

.sidebar {
    padding: 20px 0;
}

center.payment a {
    color: #31b7ff;
    text-decoration: none;
}

center.payment a:hover {
    text-decoration: underline;
}

.table-wrap + center.payment {
    margin-top: 50px;
}

.sidebar-payments {
    background: url(../img/account-payments-ic.png) center no-repeat;
}

.balanceTable {
    margin-top: 0;
}

.balanceTable h3 {
    max-width: 835px;
    margin: 0 auto 3rem;
}

.balance-number {
    font-size: 20px;
}

.balanceTable table tbody tr.details {
    display: none;
}

.balanceTable table tbody tr.info:hover {
    cursor: help;
}

.alignBottom {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.notification-wrap {
    position: fixed;
}

.wrapDialogBox-name {
    width: auto;
    border: none;
    position: relative;
}

.wrapCollapseClose {
    float: right;
}

.wrapCollapseClose button {
    border: none;
    position: relative;
}

a.wrapDialogBox-name, button.wrapDialogBox-name { cursor: pointer; }

a.wrapDialogBox-name:after,
button.wrapDialogBox-name:after,
.wrapCollapseClose button:after {
    content: "";
    position: absolute;
}

.wrapCollapseClose .dialogBoxClose:after {
    border-radius: 50%;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
}

.wrapCollapseClose .collapse:after {
    border-radius: 50%;
    top: -1px;
    bottom: -1px;
    left: 0;
    right: 0;
}

a.wrapDialogBox-name:after,
button.wrapDialogBox-name:after {
    border-radius: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a.wrapDialogBox-name:hover:after,
button.wrapDialogBox-name:hover:after,
.wrapCollapseClose button:hover:after {
    background-color: rgba(0,0,0,.13);
}

.notification:hover::after {
    background-color: rgba(48,183,255,0.3);
}

.dialogBoxModal-menu {
    height: 66px;
}

.dialogBox {
    height: 280px;
}

.dialogBoxChats .dialogBox {
    height: 225px;
}

.dialogBoxModal.maxi .dialogBoxChats .dialogBox {
    min-height: 435px;
}

.dialogBoxModal.maxi .fromMan {
    width: auto;
    max-width: 500px;
}

.dialogBox .wrapChat.open-messages {
    cursor: pointer;
}

.dialogBox .sms,
.notification .notifyNum {
    line-height: 0;
}

.dialogImg-wrap .card-face-img {
    margin-right: 10px;
}

.dialogBox .dialogText {
    max-width: 135px;
}

.dialogBox .sms {
    margin: 10px 0 0 0;
    float: right;
}

.wait-loading {
    background: url(../img/loading.svg) no-repeat center;
}

.dialogBox .wait-loading {
    height: 16px;
    margin-bottom: 5px;
}

.dialogBox-inp {
    padding: 0;
}

.dialogBox-inp .dialogBox-inp-text {
    margin-bottom: -8px;
    width: calc(100% - 30px);
    min-height: 24px;
    max-height: 96px;
    padding: 15px;
    resize: none;
    /*overflow: hidden;*/
}
.dialogBox-inp .dialogBox-inp-text:focus {
    border: none;
}

.dialogBox-time {
    font-size: 12px;
    font-style: italic;
}

.dialogBox .fromMan {
    max-width: 185px;
    width: auto;
    margin: 0 auto 7px 0;
}

.dialogBox .fromMan.fromMain {
    margin: 0 0 7px auto;
}

.dialogBox .fromMan .dialogBox-time {
    margin-top: 5px;
    float: left;
}

.dialogBox .fromMan.fromMain .dialogBox-time {
    float: right;
}

.callDialog .dialogBox {
    max-height: unset;
    height: calc(100vh - 250px);
}

button.phone,
button.postal,
button.colorTether {
    border: none;
    cursor: pointer;
}

.invitedGuest {
    padding: 0;
    margin-bottom: 40px;
}

.card-text.bookingCard-free-time {
    margin: 0 auto 0 35px;
}

.free-time-info {
    display: inline-flex;
}

.sharing {
    max-width: 750px;
}

.sharing.with-copy-link {
    position: relative;
    margin: -40px 0 65px;
}

/*.sharing.with-copy-link .toilsLink {
    position: absolute;
    left: 2px;
    top: 5px;
}*/

.sharing.with-copy-link .colorTether {
    margin: 0 0 10px 0;
}

.specifyEmail {
    padding: 16px 175px 16px 20px;
}

#select-lang .select2-selection__rendered {
    color: #30b7ff;
}

#select-lang .select2-selection[aria-expanded="false"] {
    border-color: #30b7ff;
}

.doorInp label {
    margin-left: 15px;
}

header .flex {
    max-width: 1810px;
    margin: 0 auto 0 0;
}

.teacher-flex iframe {
    border: none;
}

.ask-question .doorInp {
    width: 100%;
    margin-bottom: 25px;
    margin-right: 0;
}
.ask-question .doorInp input {
    max-width: 100%;
    width: 100%;
}

.ask-question .doorInp textarea{
    width: 100%;
    background-color: #ebeff2;
    border-radius: 5px;
    border: none;
    padding: 15px 30px;
    resize: none;
    height: 160px;
    box-sizing: border-box;
}

.ask-question .doorInp textarea:focus {
    border: 1px solid #30b5fa;
}

.ask-question .doorInp-wrap {
    margin-bottom: 50px;
}

.ask-question h2 {
    margin-bottom: 15px;
}

.ask-question .rating {
    float: right;
}

.subscription.no-auth .booking-title {
    background-color: #c7e4f6;
}

.subscription.no-auth .booking-title h6 {
    color: #2f374f;
}

.subscription.no-auth .booking-subtitle {
    background-color: #fff;
}

#send-success {
    margin-bottom: 30px;
    color: #00ad7b;
}

.send-error {
    margin-bottom: 30px;
    color: #ec3457;
}

.smoothly,
.smoothly:after,
.smoothly:before {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.smoothly.fast,
.smoothly.fast:after,
.smoothly.fast:before {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.callDialog-fon.active {
    background: #333;
    max-width: unset;
}

.callDialog-close {
    z-index: 1;
    top: 20px;
    left: 30px;
    opacity: 0.4;
}

.callDialog-close:hover {
    opacity: 1;
}

.callDialog-video {
    width: calc(100vw - 450px);
    height: 100vh;
}

.callDialog-video-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.callDialog-controls-container {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    right: 450px;
    top: calc(100% - 50px);
    padding-top: 27px;
    min-height: 115px;
    opacity: 0.4;
}

.callDialog-controls-container > * {
    color: transparent;
}

.callDialog-controls-container:hover > * {
    color: #fff;
}

.callDialog-controls-container.hover,
.callDialog-controls-container:hover {
    opacity: 1;
    top: calc(100% - 110px);
}

.callDialog-video-content {
    border-radius: 20px;
    border: 4px solid #333;
    background-color: #ebeff2;
    margin: 0 5px;
    display: grid;
    width: 100%;
    height: max-content;
    overflow: hidden;
}

.callDialog-video-content:hover {
    border-color: #ebeff2;
}

.callDialog-self-video video {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.callDialog-self-video video.not-init {
    display: none;
}

.callDialog-video-content video {
    max-width: calc(100vw - 440px);
    max-height: calc(100vh - 10px);
    width: 100%;
    margin: 0 auto;
}

.callDialog-self-video {
    position: absolute;
    background: #ebeff2;
    top: 0;
    right: 0;
    width: 100px;
    display: grid;
    overflow: hidden;
    opacity: 0.4;
    z-index: 1;
}

.callDialog-self-video:hover {
    opacity: 1;
    width: 40%;
    border-radius: 20px;
    border: 4px solid #ebeff2;
}

.callDialog-video-content.active,
.callDialog-video-content.active > * {
    height: 100%;
    border-color: transparent;
}

.callDialog-video-container.active > * {
    display: none;
}

.callDialog-video-container.active > .callDialog-video-content.active {
    display: flex;
}

.callDialog-video img {
    height: unset;
}

.endCallBtn {
    position: static;
    height: 46px;
    left: unset;
}

.callDialog .dialogBox .fromMan {
    max-width: 330px;
}

.callDialog-call {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.callDialog-call .btn {
    top: 0;
    bottom: 0;
}

.endCallBtn {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    width: 70px;
    height: 70px;
    padding: 0;
    line-height: 0;
}

.endCallBtn:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0 solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.endCallBtn:hover:after {
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-width: 10px;
}

.endCallBtn:disabled {
    background-color: #000;
    opacity: 0.3;
}

.endCallBtn:disabled:hover:after {
    border-width: 0;
}

.endCallBtn.call {
    background-color: #30b7ff;
}

.endCallBtn span {
    background: url(../img/call.svg) center no-repeat;
    width: 28px;
    height: 28px;
    display: inline-block;
    transform: scale(1.7);
}

.endCallBtn.reject span {
    transform: scale(1.7) rotate(136deg);
}

.endCallBtn.stream-control-audio.active,
.endCallBtn.stream-control-video.active {
    background-color: #30b7ff;
}

.endCallBtn.stream-control-audio span {
    background: url(../img/mic.svg) center no-repeat;
}

.endCallBtn.stream-control-video span {
    background: url(../img/video.svg) center no-repeat;
}

.endCallBtn.stream-control-audio span,
.endCallBtn.stream-control-video span {
    transform: scale(1.3);
}

.hidden-video-chat-dialog .callDialog-controls-container {
    right: 0;
}

.callDialog-name {
    white-space: nowrap;
    overflow-x: auto;
}

.callDialog-name .disconnected {
    color: #ccc;
}

.callDialog-name span:after {
    content: ", ";
}

.callDialog-name span:last-child:after {
    content: none;
}

.hidden-video-chat-dialog .callDialog-sms {
    display: none;
}

.hidden-video-chat-dialog .callDialog-video {
    width: 100vw;
}

@media screen and (max-width: 1000px) {
    .callDialog-sms {
        display: none;
    }
    .callDialog-video {
        width: 100vw;
    }
    .callDialog-video-content video {
        max-width: calc(100vw - 10px);
    }
    .callDialog-controls-container {
        right: 0;
    }
    .select2-dropdown.add-user-to-call {
        left: calc(50% - 170px) !important;
    }
}

i.user, span.user {
    background: url(../img/user.svg) center no-repeat;
}

i.add-user, span.add-user {
    background: url(../img/add-user.svg) center no-repeat;
}

.add-user-to-call select.select2 {
    display: none;
}

.add-user-to-call .select2.select2-container {
    width: 70px !important;
    height: 70px !important;
    margin: 0 10px;
}

.add-user-to-call .select2-container--default .select2-selection--single.select2-selection--single {
    height: 70px;
    background-color: #30b7ff;
    box-shadow: none;
}

.add-user-to-call .select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}

.add-user-to-call .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
    position: absolute;
    display: block;
    top: -7px;
    left: 0;
    right: -30px;
    height: 30px;
    overflow: hidden;
    z-index: -1;
}

.add-user-to-call .select2-container--default .select2-selection--single .select2-selection__arrow b {
    background: transparent;
}

.add-user-to-call .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border: none;
    position: absolute;
    left: calc(100% - 30px);
    top: 0;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 0 1000px #30b7ff;
    border-radius: 50% 0 0 0;
}

.add-user-to-call .select2-container--default .select2-selection--single .select2-selection__placeholder.add-user {
    width: 40px;
    height: 40px;
    margin: 0 0 -5px;
}

.add-user-to-call .select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
    border-radius: 0 0 50% 50%;
}

.select2-dropdown.add-user-to-call {
    width: 340px !important;
    border-radius: 20px 20px 20px 0;
    background-color: #30b7ff;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: fixed;
    bottom: 90px;
    left: calc(50% - 395px);
}

.hidden-video-chat-dialog .select2-dropdown.add-user-to-call {
    left: calc(50% - 170px);
}

.select2-dropdown.add-user-to-call .select2-results__option {
    color: #ddd;
    margin-bottom: 10px;
}

.select2-container--default .select2-dropdown.add-user-to-call.select2-dropdown--above .select2-results__options {
    color: #fff;
    padding: 5px 10px 10px;
}

.select2-container--default .select2-dropdown.add-user-to-call .select2-search--dropdown .select2-search__field {
    border: 0;
    border-radius: 10px;
    padding: 4px 10px;
}

.select2-container--default .select2-dropdown.add-user-to-call.select2-dropdown--above .select2-search--dropdown {
    margin: 0 10px;
}

.select2-dropdown.add-user-to-call .select2-results__option.select2-results__message,
.select2-container--default .select2-dropdown.add-user-to-call .select2-results__option--highlighted[aria-selected] {
    background-color: transparent;
    color: #fff;
}

.select2-dropdown.add-user-to-call .found-users-to-call .avatar {
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}

.select2-dropdown.add-user-to-call .found-users-to-call .avatar img,
.select2-dropdown.add-user-to-call .found-users-to-call .avatar span.user {
    display: block;
    width: 40px;
    height: 40px;
}

.select2-dropdown.add-user-to-call .found-users-to-call {
    display: flex;
    padding: 5px 15px;
    align-items: center;
}

.callDialog-call span.user,
.callDialog-call img {
    display: none;
}

.callDialog-call.secondary-call {
    position: absolute;
    display: block;
    top: 80px;
    right: 10px;
    width: 90px;
    height: auto;
    z-index: 1;
}

.callDialog-call.secondary-call span.user,
.callDialog-call.secondary-call img,
.callDialog-call.secondary-call > * {
    display: block;
    margin: 10px;
}

.callDialog-call.secondary-call span.user {
    background-size: 50px;
}

.callDialog-call.secondary-call span.user,
.callDialog-call.secondary-call img {
    width: 70px;
    height: 70px;
    background-color: #ccc;
    border-radius: 35px;
}

textarea#rtc-send-msg {
    width: 390px;
    height: 102px;
    resize: none;
}

.append-DataTimePiker p.add-reservations-error {
    margin-top: 10px;
    color: red;
    display: none;
}

.append-DataTimePiker p.add-reservations-error.active {
    display: block;
}

.doorInp .register button {
    padding: 11px;
}

input.phone-code {
    width: 60px;
    padding: 0 10px;
    margin-right: 10px;
}

input.phone-number {
    width: 160px;
    padding: 0 20px;
}

.accInfoLine-inp-box {
    display: inline-block;
    max-width: 410px;
    width: 100%;
}

.wrapper .doorInpForm + .consent > p > a {
    color: #999;
}

.wrapper .doorInpForm + .consent > p > a:hover {
    text-decoration: underline;
}