@media screen and (max-width: 1800px) {
    .menu-h li {
        padding: 0 15px;
    }
    .btn2field {
        left: auto;
        right: 0;
    }
}

@media screen and (max-width: 1600px) {
    .right-h .submitSubscribe {
        padding: 10px 15px;
        min-width: 130px;
    }

    .right-h {
        width: auto;
    }

    .link-h a:hover {
        padding-bottom: 0;
    }

    .menu-h {
        width: calc(75% - 220px);
    }

    .videoIc {
        width: 17px;
        height: 23px;
    }

    .videoIc-wrap {
        width: 50px;
        height: 50px;
    }

    .videoText {
        margin-right: 10px;
    }

    /*/// pageStudent /// + ///*/
    .level-fill {
        margin-right: 5%;
    }

    /*/// pageStudent /// - ///*/
    /*/// booking /// + ///*/
    .bookingMany-card .card {
        width: 100%;
    }

    .date {
        max-width: 100px;
    }

    /*/// booking /// - ///*/
    /*/// topic /// + ///*/
    .issue {
        margin-right: 5%;
    }

    .choiceSubject {
        margin-bottom: 10px;
    }

    /*/// topic /// - ///*/
    .bookingTime {
        max-width: 40%;
    }

    .card.topicCard {
        width: 31.3%;
    }

    #bookModal .card {
        padding: 15px 25px;
    }

    #infoStudentModal .infoStudentModal {
        max-width: 820px;
    }

    #infoStudentModal .card {
        width: 100%;
    }

    #infoStudentModal .iSM-tabsContent {
        padding: 30px;
    }

    .cardScroll .card {
        padding: 15px;
    }

    .link-h:hover:after, .link-h.active:after, .link-h.active:hover:after {
        bottom: -27px;
    }
    .btn2 {
        padding: 5px 10px;
        min-width: 100px;
    }
    .teachStyle .teachStyle-pdr {
        padding-right: 10px;
    }
    span.quantity {
        top: -8px;
        right: -5px;
        width: 20px;
        height: 20px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1400px) {
    /*/// header ///  +  ///*/
    .menu-h {
        width: calc(64% - 200px);
    }

    .right-h {
        width: 35%;
    }

    .right-h button {
        padding: 12px 12px;
        min-width: 160px;
    }

    .right-h .wrap_button {
        margin-right: 10px;
    }

    .language {
        margin-left: 10px;
    }

    h1 {
        font-size: 50px;
    }

    /*/// header ///  -  ///*/
    /*/// someone ///  +  ///*/
    .column-text {
        width: 100%;
        margin: 30px 0 45px;
    }

    .someone {
        background-position: 5% bottom;
        background-size: 45%;
    }

    .column-join {
        width: 50%;
    }

    .someone {
        padding: 40px 0 120px;
    }

    .ic_girl-join {
        width: 50%;
    }

    /*/// someone ///  -  ///*/
    /*/// advantages ///  +  ///*/
    .title p {
        font-size: 15px;
    }

    .title {
        margin-bottom: 10px;
    }

    .advantages_wrap-h2 {
        margin-bottom: 25px;
    }

    .wrap-text {
        max-width: 100%;
    }

    h2 {
        text-align: center;
    }

    /*/// advantages ///  -  ///*/
    /*/// theme ///  +  ///*/
    .theme-photo:nth-child(5), .theme-photo:nth-child(6), .theme-photo:nth-child(7), .theme-photo:nth-child(8) {
        margin-bottom: 65px;
    }

    .theme-topic {
        bottom: -40px;
        left: 65px;
    }

    .theme-topic.news-sport {
        left: 65px;
    }

    .theme-topic.game-culture {
        top: auto;
    }

    .theme-topic.food {
        top: auto;
    }

    .theme-topic.business {
        top: auto;
        left: 65px;
    }

    .theme-photo {
        margin-bottom: 65px;
    }

    .theme {
        padding: 60px 0 75px;
    }

    /*/// works ///  +  ///*/
    .tabs .tabs-next {
        right: -10%;
    }

    .tabs .tabs-line {
        width: 55px;
    }

    /*/// works ///  -  ///*/
    /*/// theme ///  -  ///*/
    /*/// teacher ///  -  ///*/
    .teacher-video {
        padding-top: 270px;
    }

    /*/// teacher ///  -  ///*/
    /*/// pageProf ///  +  ///*/
    .profileList {
        padding: 20px 40px;
    }

    /*/// pageProf ///  -  ///*/
    /*/// pageSupport ///  +  ///*/
    .questionsSheet {
        padding: 30px 35px 30px;
    }

    .supportSearch {
        padding: 45px 0;
    }

    /*/// pageSupport ///  -  ///*/
    /*/// pageResponse ///  +  ///*/
    .backList-wrap {
        padding: 20px 0;
        border-bottom: 2px solid #ebeff2;
        margin-bottom: 45px;
        position: relative;
    }

    /*/// pageResponse ///  -  ///*/
    /*/// pageStudent /// + ///*/
    .level-circle {
        width: 100px;
        height: 100px;
        padding: 10px;
    }

    .level {
        padding: 35px;
    }

    .sortDate:last-child {
        margin-right: 10px;
    }

    .resetBtn {
        min-width: 100px;
    }

    /*/// pageStudent /// - ///*/
    /*/// topic /// + ///*/
    label.btn.press {
        padding: 10px;
        min-width: 100px;
        font-size: 14px;
    }

    /*/// topic /// - ///*/
    .wrapMonth {
        padding: 25px 0 25px;
        max-width: 237px;
    }

    input[name="tariffs"]:checked + .wrapMonth {
        border: 2px solid #31b7ff;
        padding: 35px 0;
    }

    .wrapCalendar-ic span {
        width: 70px;
        height: 55px;
    }

    .wrapCalendar-ic {
        margin: 15px 0 15px;
    }

    .discount {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }

    .periodStudy {
        margin-top: 45px;
        text-align: center;
        padding: 0 15px;
    }

    .wrapTariffs {
        padding: 20px 0 30px;
    }

    .tariffs {
        padding: 35px 0 40px;
    }

    .wrapParagraph {
        width: 100%;
        display: inline-flex;
        justify-content: space-evenly;
    }

    .sidebar_after {
        display: none;
    }

    .sidebar {
        max-width: 100%;
        z-index: 7;
        text-align: center;
        box-shadow: none;
    }

    .wrap-prof {
        padding: 15px 0;
        text-align: center;
        border-bottom: 1px solid #526b90;
    }

    .profile-face {
        display: inline-block;
        margin-bottom: 0;
    }

    .profile-face img {
        width: 80px;
        height: 80px;
        margin-bottom: 0;
        display: inline-block;
        vertical-align: middle;
    }

    .profile-face p {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }

    .teacherList {
        display: inline-block;
        margin-left: 10px;
    }

    .studentSelect {
        display: inline-block;
        margin-left: 30px;
    }

    .sidebar-block {
        border-top: none;
        padding: 15px 0;
        text-align: center;
        display: inline-block;
        width: 24%;
    }
    .sidebar-block:last-child {
        border-bottom: 0;
    }
    .wrap-sidebar {
        display: block;
    }

    /*/// reg /// + ///*/
    .redBox.redBox-r {
        width: 55%;
    }

    .redBox {
        width: 44%;
    }

    /*/// reg /// - ///*/
    /*/// modal /// + ///*/
    #bookModal .card {
        width: 47%;
    }

    #bookModal .card-face-img {
        display: block;
        margin-right: 0;
        text-align: center;
    }

    #bookModal .minInfo {
        width: 100%;
        text-align: center;
    }

    #bookModal .sortDate {
        margin-top: 10px;
    }

    #infoStudentModal .infoStudentModal {
        padding: 0 80px 20px;
    }

    #infoStudentModal .infoStudentModal-menuWrap {
        left: 4%;
    }

    #infoStudentModal .close {
        top: 2%;
        right: 4%;
    }

    #infoStudentModal .iSM-column {
        width: 100%;
    }

    .dataPiker-wrap {
        width: 43%;
    }

    .append-DataTimePiker {
        width: 57%;
        padding-left: 80px;
    }

    #bookModal2 .accSave {
        order: 4;
    }

    .myTime-hr {
        order: 3;
    }

    /*/// modal /// + ///*/
    .bookModal .card {
        width: 100%;
    }

    #askQuestion .bookModal-wrap {
        padding: 50px 25px;
    }

    .wrap-logo {
        width: 180px;
    }
    .right-h {
        width: 26%;
    }
    .menu-h {
        width: calc(74% - 190px);
    }


    /*--- изменения 12.09.2018  + ---*/
    .menu-h li {
        font-size: 13px;
    }
    .booking-title {
        padding: 30px 0;
    }

    .menu-h li {
        padding: 0 10px;
    }
    .menu-h {
        width: auto;
    }
    .wrap-logo {
        width: 130px;
    }
    .right-h {
        width: auto;
    }
    .right-h .submitSubscribe {
        padding: 7px;
        min-width: 100px;
        font-size: 13px;
    }
    li.wrap_language:last-child {
        width: 85px;
    }
    body header .select2-container--default .select2-selection--single.select2-selection--single {
        width: 35px !important;
        height: 35px;
    }
    h6 {
        font-size: 30px;
    }
    .aboutStudent {
        padding-left: 0;
    }
    .cardStudent-info {
        width: auto;
    }
    .iSM-tabsContent .aboutStudent-training {
        padding-left: 0;
    }
    .teachStyle-wrap {
        padding-top: 25px;
    }
    .listTeachers {
        padding: 25px 0 45px;
    }
    .search-line {
        margin-bottom: 20px;
    }
    /*--- изменения 12.09.2018  - ---*/



}

@media screen and (max-width: 1024px) {
    .nameFill {
        max-width: 340px;
    }
    .fillAcc {
        width: calc(100% - 345px);
    }
    .bookModal.auth .bookModal-wrap {
        width: 80%;
    }
    /*/// stInfo /// + ///*/
    .dataPiker-wrap {
        width: 100%;
        border: none;
        padding-bottom: 20px;
    }

    .append-DataTimePiker {
        order: 3;
        width: 100%;
        padding: 20px 0 0;
        border-top: 2px solid #ebeff2;
        margin-top: 30px;
    }

    .wrapTimeReport {
        order: 2;
    }

    /*/// stInfo /// - ///*/
    /*/// header ///  +  ///*/
    header .hamburger.mob {
        display: block;
        padding: 10px;
    }

    header {
        height: 42px;
    }

    .right-h {
        display: none;
    }

    .menu-h {
        display: none;
    }

    .wrap_door {
        min-width: calc(40% - 279px);
    }

    .link-h a:hover {
        padding-bottom: 0;
    }

    .right-h .wrap_button {
        margin-right: 50px;
    }

    .menu-h li {
        padding: 0 25px;
    }

    /*/// header ///  -  ///*/
    /*/// homeScreen ///  +  ///*/
    h1 br {
        display: none;
    }

    .homeScreen {
        padding: 55px 0 40px;
    }

    .column {
        width: 100%;
    }

    .column-tv {
        width: 100%;
        top: calc(100px);
    }

    /*/// homeScreen ///  -  ///*/
    /*/// teacher ///  -  ///*/
    .teacher-video {
        padding-top: 200px;
    }

    /*/// teacher ///  -  ///*/
    /*/// pageStudent /// + ///*/
    .level {
        padding: 30px 0 30px 20px;
    }

    .subscription-column {
        text-align: center;
    }

    /*/// pageStudent /// - ///*/
    /*/// pageBooking /// + ///*/
    .bookingSort {
        margin-bottom: 15px;
        width: 100%;
    }

    .card-status {
        padding-left: 40px;
    }

    /*/// pageBooking /// - ///*/
    /*/// topic /// + ///*/
    .helpStudent {
        margin-bottom: 10px;
    }

    .answer {
        text-align: center;
        width: 100%;
    }

    .issue {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .card.topicCard {
        padding: 10px;
    }

    .topicCard .minInfo {
        width: 100%;
        text-align: center;
    }

    .topicCard .card-face-img {
        width: 100%;
        text-align: center;
        margin-right: 0;
    }

    .topicCard .like {
        left: 0;
    }

    .topicCard .card-status {
        text-align: right;
        padding: 0 0 0 30px;
    }

    /*/// topic /// - ///*/
    /*/// tariffs /// + ///*/
    .wrapMonth {
        padding: 25px 0 25px;
        max-width: 50%;
    }

    input[name="tariffs"]:checked + .wrapMonth {
        border: 6px solid #31b7ff;
        padding: 20px 0;
        border-radius: 0;
    }

    .discount {
        width: 50px;
        height: 50px;
        font-size: 18px;
        right: 25%;
    }

    /*/// tariffs /// - ///*/

    /*/// reg /// + ///*/
    .redBox.redBox-r {
        width: 100%;
    }

    .redBox {
        width: 0;
    }

    /*/// reg /// - ///*/
    /*/// modal /// + ///*/
    .bookModal .bookModal-left {
        display: none;
    }

    .bookModal .bookModal-wrap {
        width: 100%;
    }

    .append-DataTimePiker {
        width: 100%;
        padding-left: 0;
        margin-bottom: 20px;
    }

    /*/// modal /// + ///*/
    .footer .footer-info-link {
        margin-bottom: 15px;
    }

    #askQuestion .bookModal-wrap {
        width: 100%;
    }

    /*--- изменения 12.09.2018 + ---*/
    .StTch-info .blockStudent-info {
        min-height: auto;
    }
    .right-h.animated {
        padding: 45px 0 15px;
        border-bottom: 2px solid #31b7ff;
        margin: 0 -15px;
        max-width: calc(100% + 30px);
        width: calc(100% + 30px);
    }
    .wrap-logo {
        width: 180px;
    }
    .teachStyle-title {
        margin-right: 15px;
    }
    .many-card.active .card {
        margin-top: 0;
    }
    #card-container .card {
        margin-bottom: 10px;
    }
    /*--- изменения 12.09.2018 + ---*/
}

@media screen and (max-width: 980px) {
    .toilsLink {
        position: relative;
    }
    .columnAcc {
        width: auto;
        max-width: inherit;
    }
    .select2-multi {
        display: inline-block;
    }
    .bookModal.auth .bookModal-wrap {
        width: 100%;
    }
    /*/// stInfo /// + ///*/
    .wrapPiker {
        flex-wrap: wrap;
    }

    .append-DataTimePiker {
        width: 100%;
        margin-bottom: 30px;
        padding-left: 0;
    }

    label.dialectLangRadio {
        font-size: 16px;
    }

    .test-issue {
        width: 40px;
        height: 40px;
    }

    .testComplete {
        text-align: center;
    }

    .test-issue:hover .test-answer {
        padding: 20px 20px;
        bottom: 100%;
        right: 0;
    }

    .test-answer-ic {
        left: 0;
    }

    /*/// stInfo /// + ///*/
    /*/// header ///  +  ///*/
    .menu-h li {
        padding: 10px 8px;
    }

    .right-h ul {
        text-align: center;
    }

    /*/// header ///  -  ///*/
    /*/// footer ///  +  ///*/
    .footer-portal {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .footer-info {
        width: 50%;
    }

    .footer-info-link {
        margin-bottom: 15px;
    }

    .footer-notify {
        width: auto;
    }
    .questionsSheet-wrap {
        padding: 35px 0 35px;
    }

    .askQuestion {
        padding: 12px;
        line-height: 1;
    }

    .footer-social-link {
        margin-bottom: 15px;
    }

    /*/// footer ///  -  ///*/
    /*/// someone ///  +  ///*/
    .someone {
        padding: 30px 0 20px;
        background-image: none;
    }

    .column-join {
        width: 100%;
    }

    .join-button {
        margin: 0 auto;
    }

    /*/// someone ///  -  ///*/
    /*/// advantages ///  +  ///*/
    .column-flex {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .advantages {
        padding: 65px 0 20px;
    }

    /*/// advantages ///  -  ///*/
    /*/// theme ///  +  ///*/
    .flex-padding {
        padding: 0;
    }

    .theme {
        padding: 30px 0 75px;
    }

    .theme-icDb {
        width: 100px;
    }

    /*/// theme ///  -  ///*/
    /*/// comments ///  +  ///*/
    .comments-slick {
        padding: 0 80px;
    }

    .comments-slick-com {
        padding: 20px 25px 20px;
    }

    .comments-slick .slider-for {
        margin-bottom: 30px;
    }

    .comments {
        padding: 30px 0 40px;
    }

    /*/// comments ///  -  ///*/
    /*/// works ///  +  ///*/
    .tabs .tabs-next {
        right: 0;
    }

    .tabs .tabs-line {
        display: none;
    }

    .tabs > label {
        margin: 0;
        font-size: 12px;
    }

    .works {
        padding: 30px 0 40px;
    }

    /*/// works ///  -  ///*/
    /*/// teacher ///  -  ///*/
    .teacher-flex {
        flex-wrap: wrap;
        margin-bottom: 45px;
    }

    .teacher-video {
        margin-right: 0;
        margin-bottom: 15px;
        max-width: 470px;
    }

    .teacher-video span {
        top: calc(50% - 12%);
        width: 60px;
        padding-top: 12%;
    }

    .teacher {
        padding: 40px 0 40px;
    }

    /*/// teacher ///  -  ///*/
    .wrap-h2 {
        margin-bottom: 35px;
    }

    /*/// pageProf /// + ///*/
    .nameFill {
        max-width: 225px;
    }

    .fillAcc {
        width: calc(100% - 230px);
    }

    .addOption-window.active {
        left: calc(100% - 175px);
    }

    .videoText {
        margin-right: 0;
        margin-bottom: 10px;
    }

    /*/// pageProf /// + ///*/
    /*/// pageSupport ///  +  ///*/
    .supportSearch {
        padding: 25px 0;
    }

    .language-search {
        width: 100%;
    }

    .marH3 {
        margin-bottom: 10px;
    }

    .booking-title {
        padding: 20px 0;
    }

    /*/// pageSupport ///  -  ///*/
    /*/// pageStudent /// + ///*/
    .subscription-column {
        width: 100%;
        padding: 15px 0;
    }

    .subscription-column p {
        display: inline-block;
    }

    .subscription-column a.btn {
        padding: 12px;
        min-width: 160px;
        margin-top: 0;
        margin-left: 10px;
    }

    .level {
        text-align: center;
        width: calc(100% + 30px);
        margin-left: -15px;
        background-color: #c6e4f5;
        padding: 15px 30px;
    }

    span.subscription-fon {
        display: none;
    }

    /*/// pageStudent /// - ///*/
    /*/// pageBooking /// + ///*/
    .card.cardBooking {
        flex-wrap: wrap;
    }

    .card-status.bookingCard-status {
        width: 100%;
    }

    .card-status.bookingCard-status.bookingHistoryLike {
        width: 100%;
    }

    .like.historyLike {
        left: 60%;
        bottom: 60px;
    }

    /*/// pageBooking /// - ///*/
    .discount {
        right: 10%;
    }

    .wayLearning {
        margin-bottom: 40px;
        padding: 0 15px;
    }

    .periodStudy {
        margin-top: 0;
    }

    h4 {
        font-size: 30px;
    }

    .supportTitle {
        padding: 20px 0;
    }

    body {
        font-size: 14px;
    }

    .formStudies {
        padding-bottom: 95px;
    }

    .paragraph {
        margin-bottom: 15px;
    }

    .subscribe {
        margin-top: 20px;
    }

    .questionsSheet-wrap {
        padding: 20px 0;
    }

    .tariffs {
        padding: 35px 0 20px;
    }

    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table {
        width: 800px;
    }

    /*/// pageFreeMin /// + ///*/
    .sharing {
        padding: 0;
    }

    /*/// pageFreeMin /// - ///*/
    /*/// pageBookingInfo /// + ///*/
    .card.cardBooking-info {
        margin-left: 5%;
    }

    .cardBooking-info .minInfo {
        width: calc(100% - 165px);
    }

    .card-face.bookingCard-face {
        width: 100%;
    }

    .card-face.bookingCard-face .city {
        margin-bottom: 0;
        margin-right: 10px;
        display: inline-block;
    }

    .card-face.bookingCard-face .name {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
    }

    .cardInfo .card-status.cardStudent-info {
        position: relative;
        width: 80%;
        margin: 0 auto;
    }

    .blockStudent-info {
        padding: 30px;
    }

    .studentInfo-title {
        width: 100%;
        margin-bottom: 20px;
    }

    .studentInfo-info {
        width: 100%;
    }

    /*/// pageBookingInfo /// - ///*/
    .iSM-tabsContent .teacher-video {
        padding-top: 290px;
        max-width: 500px;
    }

    /*/// pageAcc /// + ///*/
    .accInfo {
        padding: 20px 40px;
    }

    p.accInfoLine-text {
        margin-bottom: 10px;
    }

    .accInfoLine {
        text-align: center;
    }

    p.accInfoLine-text {
        margin-bottom: 10px;
        max-width: 100%;
        text-align: center;
    }

    .columnAcc-center img.photo {
        margin-right: 10px;
        margin-bottom: 10px;
        width: 100px;
        height: 100px;
    }

    .wrapAccInfo-listLang {
        text-align: left;
    }

    /*/// pageAcc /// - ///*/
    /*/// modal /// + ///*/
    #bookModal .card {
        width: 100%;
        padding: 30px 40px;
    }

    #bookModal .card-face-img {
        display: inline-block;
        margin-right: 30px;
    }

    #bookModal .minInfo {
        width: auto;
        display: inline-block;
        text-align: left;
    }

    #infoStudentModal .rating {
        position: relative;
    }

    #infoStudentModal .cardStudent-info {
        position: relative;
        width: 100%;
    }

    #infoStudentModal .like {
        left: calc(100% - 200px);
    }

    #infoStudentModal .card {
        margin-left: 0;
    }

    /*/// modal /// + ///*/
    .card.topicCard {
        width: 46%;
    }
    .specifyMail {
        display: inline-block;
        width: calc(100% - 180px);
    }
    .sendBtn {
        padding: 10px 20px;
    }
    .specifyMail .specifyEmail {
        padding: 10px 120px 9px 20px;
    }

}

@media screen and (max-width: 640px) {
    .testList-wrap {
        margin-bottom: 0;
    }
    .testBtn-wrap {
        margin-bottom: 0;
    }
    .btn {
        min-width: 100px;
        padding: 5px 10px;
    }
    .testBtn {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .testList-wrap {
        padding: 20px;
    }
    .shares .sharing.with-copy-link {
        margin: 0 0 20px;
    }
    .shares .btn.sendBtn {
        width: 100%;
        position: relative;
        margin-top: 10px;
    }
    form.testList-wrap {
        padding: 20px;
    }

    .bookingTime {
        max-width: 100%;
    }

    /*/// header ///  +  ///*/
    .menu-h li {
        padding: 15px 0;
        display: block;
    }

    .right-h .wrap_button {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .wrap_door {
        min-width: auto;
        margin-right: 110px;
    }

    /*/// header ///  -  ///*/
    /*/// footer ///  +  ///*/
    .footer-portal {
        display: none;
    }

    .footer-info {
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }

    .indent {
        padding: 35px 0 15px;
    }

    .footer-notify {
        width: 100%;
        text-align: center;
    }

    .footer-info-link a {
        padding: 5px 0;
    }

    .footer-additionally-link a {
        padding: 5px 0;
    }

    /*/// footer ///  -  ///*/
    /*/// homeScreen ///  +  ///*/
    h1 {
        font-size: 40px;
    }

    .homeScreen {
        padding: 30px 0 30px;
    }

    .homeScreen_fon-ic {
        display: none;
    }

    .column-tv {
        display: none;
    }

    .subtext-h1 {
        margin-bottom: 30px;
    }

    .homeScreen-text {
        margin-bottom: 40px;
    }

    /*/// homeScreen ///  -  ///*/
    /*/// someone ///  +  ///*/
    .advantages {
        padding: 30px 0 20px;
    }

    .someone {
        padding: 30px 0 40px;
    }

    .column-text {
        margin: 30px 0 15px;
    }

    /*/// someone ///  -  ///*/
    /*/// works ///  +  ///*/
    .tabs > label {
        padding: 8px 13px;
        display: block;
        max-width: 180px;
        margin: 0 auto;
    }

    .tabs > label[for=tab4] {
        margin: 0 auto;
        margin-bottom: 35px;
    }

    .tabs > input:checked + label span {
        width: 30px;
        height: 30px;
        top: -17px;
        right: -10px;
        font-size: 15px;
    }

    .tabs-next {
        display: none;
    }

    /*/// works ///  -  ///*/
    /*/// comments ///  -  ///*/
    .comments-slick .commas {
        display: none;
    }

    .comments-slick {
        padding: 0;
    }

    .comments-slick button.slick-prev.slick-arrow {
        right: 100%;
        left: auto;
    }

    .comments-slick button.slick-next.slick-arrow {
        left: 100%;
    }

    .comments-slick .slick-slide .item-wrap:after {
        display: none;
    }

    .slider-nav.slick-initialized.slick-slider.slick-dotted {
        width: calc(100% - 60px);
        margin: 0 auto;
    }

    .comments-slick-com span {
        left: calc(50% - 70px);
    }

    .comments-slick-rating {
        text-align: center;
        margin-top: 10px;
    }

    /*/// comments ///  -  ///*/
    /*/// teacher ///  +  ///*/
    .teacher-flex {
        margin-bottom: 15px;
    }

    /*/// teacher ///  -  ///*/
    /*/// pageProf /// - ///*/
    .profileList {
        padding: 15px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .nameFill {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .fillAcc {
        width: 100%;
    }

    .dialectLang-list {
        width: 100%;
        margin-right: 10px;
    }

    .addOption {
        position: absolute;
        right: -25px;
        bottom: 0;
    }

    .fillAcc-link {
        height: 40px;
    }

    /*/// pageProf /// - ///*/
    /*/// pageSupport /// + ///*/
    .questionsSheet-column {
        width: 100%;
    }

    .widthQc {
        width: 100%;
    }

    /*/// pageSupport /// - ///*/
    /*/// pageResponse ///  +  ///*/
    .usefullyBtn {
        font-size: 10px;
        padding: 0;
    }

    .tableText {
        padding: 15px 20px;
    }

    .instruction {
        margin-bottom: 15px;
    }

    /*/// pageResponse ///  -  ///*/
    /*/// pageStudent /// + ///*/
    .level-lang a.btn {
        margin-top: 15px;
    }

    .level-fill a {
        margin-top: 15px;
    }

    .level-lang {
        margin-top: 10px;
    }

    .subscription-column a.btn {
        min-width: 100px;
        padding: 5px 0;
    }

    .sidebar-block .ic {
        width: 30px;
        height: 20px;
    }

    select.chosen-select {
        min-width: 100px;
        padding: 5px;
    }

    /*/// pageStudent /// - ///*/
    /*/// pageBooking /// + ///*/
    .data {
        margin-bottom: 15px;
    }

    .like.historyLike {
        left: 80%;
        bottom: 16px;
    }

    /*/// pageBooking /// - ///*/
    .wayLearning {
        padding: 0 15px;
    }

    .supportSubtitle {
        padding: 20px 0;
    }

    .discount {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }

    .wrapH5 {
        margin-bottom: 15px;
    }

    .subscribe-wrap {
        margin-top: 0;
    }

    h3 {
        font-size: 20px;
    }

    .price {
        font-size: 16px;
    }

    .topicCard .card-face-img {
        width: auto;
        margin-right: 30px;
    }

    .topicCard .minInfo {
        width: auto;
        text-align: left;
    }

    /*/// pageFreeMin /// + ///*/
    .shares-ic span {
        margin-right: 20px;
        width: 60px;
        margin-left: 10px;
        height: 65px;
    }

    input.btn.sendBtn {
        padding: 12px 30px;
    }

    input.specifyEmail {
        font-size: 10px;
        padding: 15px 20px;
    }

    .specifyMail {
        margin: 0 auto;
        left: 0;
        right: 0;
        display: block;
        width: 95%;
    }

    .toilsLink {
        margin: 0;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .toils {
        margin-bottom: 20px;
    }

    .shares-coll {
        margin-bottom: 30px;
    }

    .shares {
        padding: 40px 0 10px;
    }

    .wrap-shares {
        padding: 10px 0;
    }
    .wrap-shares .invitedGuest {
        margin-bottom: 10px;
    }
    .specifyMail .specifyEmail {
        padding: 10px;
    }

    .invitedGuest {
        padding: 10px 0;
        text-align: center;
    }

    .toilsLink:last-child {
        margin-right: auto;
    }

    /*/// pageFreeMin /// - ///*/
    .cardBooking .card-face-img {
        width: 100%;
        text-align: center;
    }

    .card-face.bookingCard-face {
        width: 100%;
    }

    .bookingCard-face .minInfo {
        width: 100%;
        text-align: center;
    }

    a.refuse-text {
        font-size: 16px;
    }

    .card-text.bookingCard-text {
        text-align: center;
        width: 100%;
    }

    .balance-number {
        font-size: 20px;
    }

    .balanceText-wrap {
        width: calc(100% - 240px);
    }

    /*/// pageBookingInfo /// + ///*/
    .cardInfo .card-face-img {
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 10px;
    }

    /*/// pageBookingInfo /// - ///*/
    .iSM-tabsContent .teacher-flex {
        padding: 0;
    }

    .columnAcc {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    input.accInfoLine-inp.disabled1 {
        height: 40px;
    }

    .textNumber {
        max-width: 320px;
    }

    .countryCode {
        padding: 0;
    }

    .accInfoLine-cod .jq-selectbox__select {
        min-width: 40px;
        width: 40px;
        height: 40px;
    }

    input.accInfoLine-inp.disabled2 {
        height: 40px;
    }

    .accInfoLine-selData {
        padding: 0;
    }

    .accInfoLine-selData .jq-selectbox__select {
        height: 40px;
    }

    .accInfoLine-selLang {
        padding: 0;
    }

    .accInfoLine-selLang {
        height: 40px;
    }

    .accInfoLine-selLang .jq-selectbox__select {
        height: 40px;
    }

    .accInfo-listLang {
        margin-bottom: 5px;
    }

    .accInfo-edit {
        top: 40px;
        right: 50px;
    }

    .text.accInfo-title {
        margin-bottom: 20px;
        text-align: center;
        font-size: 16px;
    }

    form.wrap-accInfo {
        padding: 30px 0;
    }

    .jq-selectbox__select {
        height: 35px;
        min-width: 100px;
    }

    .sidebar select {
        max-width: 110px;
        min-width: 50px;
    }

    /*/// reg /// + ///*/
    .doorInp input {
        height: 35px;
    }

    .register button {
        padding: 12px;
        max-width: 200px;
    }

    .doorInpSelPhone .jq-selectbox__select {
        width: 35px;
        max-width: 35px;
        min-width: 35px;
    }

    .wrapBookModal-title {
        margin-bottom: 15px;
    }

    .wrap-wrapToils {
        margin-bottom: 15px;
    }

    /*/// reg /// - ///*/
    /*/// modal /// + ///*/
    #bookModal .dateCalendar.btn {
        height: 35px;
        min-width: 100px;
        font-size: 14px;
    }

    #bookModal .timeBook .jq-selectbox__select {
        min-width: 35px;
        width: 35px;
    }

    #bookModal .jq-selectbox__select-text {
        font-size: 14px;
    }

    #bookModal .confirm {
        height: 35px;
    }

    #bookModal .card-face-img {
        display: block;
        margin-right: 0;
    }

    #bookModal .minInfo {
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }

    #bookModal .wrapBook {
        margin-bottom: 10px;
    }

    #bookModal .bookModal-wrap {
        padding: 15px 0;
    }

    #bookModal .close {
        top: 5%;
        right: 5%;
    }

    #infoStudentModal .card-face-img {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    #infoStudentModal .like {
        bottom: 5px;
        left: calc(100% - 210px);
    }

    #infoStudentModal .bookModal-wrap {
        width: 100%;
        padding: 10px 0;
    }

    /*/// modal /// + ///*/
    .footer .footer-info-link {
        max-width: 100%;
    }

    .footer .footer-additionally-link {
        margin-bottom: 10px;
    }

    .footer .footer-social-link {
        margin-bottom: 10px;
    }

    .accInfoLine-cod {
        width: 40px;
    }

    .accInfo .select2-container--default .select2-selection--single.select2-selection--single {
        height: 40px;
    }

    .doorInpSelPhone {
        width: 35px;
    }

    .doorInpSelPhone .select2-container--default .select2-selection--single.select2-selection--single {
        height: 35px;
    }

    .doorInpSel .select2-container--default .select2-selection--single.select2-selection--single {
        height: 35px;
    }

    .doorInpSel .select2-container--default .select2-selection--single .select2-selection__arrow b {
        top: 2px;
    }
    .subscription-sort .sort label.sort-btn span {
        line-height: 0;
        width: 25px;
        height: 25px;
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .profileList .textarea {
        width: 92%;
    }
    button.btn.testBtn {
        margin-right: 0;
        margin-bottom: 10px;
    }

    body {
        font-size: 14px;
    }

    /*/// header ///  +  ///*/
    h1 {
        font-size: 30px;
    }

    .homeScreen-text p {
        font-size: 15px;
    }

    .subtext-h1 p {
        font-size: 20px;
    }

    /*/// header ///  -  ///*/
    /*/// someone ///  +  ///*/
    .ic_men-join {
        width: 100%;
        margin-bottom: 20px;
    }

    .ic_girl-join {
        width: 100%;
    }

    h2 {
        font-size: 17px;
    }

    .someone_wrap-h2 {
        margin-bottom: 30px;
    }

    /*/// someone ///  -  ///*/
    /*/// theme ///  +  ///*/
    .theme-topic.food {
        top: 135px;
        right: 75px;
    }

    .theme-photo:nth-child(7) {
        margin-bottom: 90px;
    }

    .theme_wrap-h2 {
        margin-bottom: 50px;
    }

    /*/// theme ///  -  ///*/
    /*/// works ///  -  ///*/
    .tabs > label {
        display: block;
        margin-bottom: 10px;
    }

    /*/// works ///  -  ///*/
    .teacher-flex {
        padding: 0 15px;
    }

    /*/// pageProf /// + ///*/
    .profile-text {
        margin-bottom: 15px;
        font-size: 16px;
    }

    .listTeachers {
        padding: 25px 0 35px;
    }

    .booking-subtitle {
        padding: 20px 15px;
    }

    .marBot {
        margin-bottom: 10px;
    }

    .addOption-window.active {
        left: calc(100% - 185px);
    }

    /*/// pageProf /// - ///*/
    /*/// pageSupport /// - ///*/
    .questionsSheet {
        padding: 15px;
    }

    .questions-wrap .text {
        font-size: 16px;
    }

    .questions-wrap {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .questions-wrap ul {
        margin: 5px 0;
    }

    /*/// pageSupport /// - ///*/
    /*/// pageResponse /// + ///*/
    .backList-wrap {
        padding: 10px 0;
        margin-bottom: 15px;
    }

    .fontS20 {
        font-size: 16px;
    }

    .usefully p {
        margin-right: 10px;
    }

    /*/// pageResponse /// - ///*/
    .book {
        color: #fff;
        background-color: #30b7ff;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .booking-count {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .bookingSort .sortText {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        font-size: 14px;
    }

    .bookingSort .reset {
        margin-top: 10px;
    }

    .card.cardBooking {
        padding: 5px 10px;
    }

    .paragraph-title {
        font-size: 16px;
    }

    .formStudies {
        padding-bottom: 60px;
    }

    .quotient {
        margin-bottom: 10px;
        max-width: 100px;
    }

    .quotient-wrap {
        display: block;
        width: 50%;
    }
    .explanation {
        top: 55px;
    }

    .select2-container {
        text-align: center;
        margin-right: 0;
        display: block;
        margin-bottom: 10px;
    }

    .wrapMonth {
        max-width: 80%;
    }

    .explanation {
        padding: 15px 25px;
    }

    h4 {
        font-size: 25px;
    }

    .supportTitle {
        padding: 10px 0;
    }

    .tariffs {
        padding: 15px 0 20px;
    }

    .sidebar_after {
        width: 35px;
        height: 50px;
        top: 8%;
    }

    .planWeek {
        max-width: 180px;
        display: block;
        margin: 0 auto 20px;
    }
    .planWeek:last-child {
        margin-bottom: 0;
    }

    .planWeek .select2-container--default .select2-selection--single.select2-selection--single {
        height: 35px;
    }

    .topicCard .card-face-img {
        width: 100%;
        margin-right: 0;
    }

    .topicCard .minInfo {
        width: 100%;
        text-align: center;
    }

    /*/// pageFreeMin /// + ///*/
    .wrapToils {
        margin-bottom: 10px;
    }

    input.btn.sendBtn {
        position: relative;
        margin: 0 auto;
        margin-top: 10px;
        display: block;
    }

    .toilsLink {
        width: 55%;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    /*/// pageFreeMin /// + ///*/
    .like.historyLike {
        bottom: 25px;
    }

    .balanceText-wrap {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .card.cardBooking-info {
        padding: 10px;
    }

    .iSM-tabsContent .teacher-video {
        padding-top: 190px;
    }

    .iSM-tabs.iSM-tabsVideo {
        margin-bottom: 10px;
    }

    .StTch-info_dataPiker .datepicker-inline .datepicker {
        width: 230px;
    }

    .accInfoLine-text {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .textNumber {
        max-width: 160px;
    }

    .accInfo-edit {
        top: 50px;
        right: 25px;
    }

    .accInfoLine-selData {
        margin-bottom: 5px;
    }

    label.listLang {
        font-size: 14px;
    }

    /*/// reg /// + ///*/
    .doorInp input {
        height: 35px;
        padding: 0 20px;
    }

    .doorInp {
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 10px;
    }

    .doorInp p {
        font-size: 16px;
    }

    .redBox.redBox-r {
        padding: 20px;
    }

    /*/// reg /// - ///*/
    .homeScreen .button {
        padding: 5px 10px;
    }

    #bookModal .lengthTime.btn {
        padding: 0;
    }

    #infoStudentModal .infoStudentModal {
        padding: 0 15px;
    }

    #infoStudentModal .like {
        bottom: 0;
        left: calc(100% - 180px);
    }

    .footer .footer-additionally-link {
        width: 100%;
        text-align: center;
    }

    .footer .footer-social-link {
        width: 100%;
        text-align: center;
    }

    .footer .footer-info-link {
        text-align: center;
        width: 100%;
    }

    .card.topicCard {
        width: 100%;
    }

    #askQuestion .bookModal-wrap {
        padding: 20px 15px;
    }

    #askQuestion .close {
        right: 5%;
        top: 5%;
    }

    .language-search .closeSearch {
        right: 15%;
    }
    .select2-container {
        margin-bottom: 0;
    }
    .studentSelect {
        max-width: 100px;
        margin-left: 10px;
    }
    .sidebar .select2-container--default .select2-selection--single.select2-selection--single {
        height: 30px;
    }
    .sidebar.sidebar .select2-container--default .select2-selection--single .select2-selection__arrow b {
        top: 1px;
    }
    .sidebar {
        padding: 0;
    }
    .wrap-logo {
        width: 130px;
    }
    .hamburger-box {
        width: 30px;
        height: 15px;
    }
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
        width: 30px;
        height: 3px;
    }
    .hamburger-inner:before {
        top: -7px;
    }
    .hamburger--emphatic .hamburger-inner:after {
        top: 7px;
    }
    .booking-title {
        padding: 10px 0;
    }
    h6 {
        font-size: 20px;
    }
    .sidebar-right .questionsSheet-wrap {
        padding: 25px 0 25px;
    }
    .findTeacher-wrap .btn2 {
        margin-right: 0;
        padding: 0;
    }
    .booking-count {
        font-size: 24px;
    }
    .wrapParagraph {
        padding-left: 0;
        justify-content: flex-start;
    }
}