@media screen and (max-width: 1600px){
  /*/// pageTeacher /// + ///*/
    .card {
        width: 48%;
    }
    .many-card.active .card {
        width: 31%;
        margin-bottom: 20px;
    }
    /*/// pageTeacher /// + ///*/
}


@media screen and (max-width: 1400px) {
    /*/// pageTeacher /// + ///*/
    .card {
        padding: 10px 40px;
    }
    .tag{
        margin-bottom: 10px;
    }
    .findTeacher-text {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .card {
        width: 100%;
        max-width: 100%;
    }
    .card-face {
        margin-bottom: 10px;
    }
    .card-text {
        margin-bottom: 10px;
    }
    /*/// pageTeacher /// - ///*/

    .menu-h .link-h:hover:after, .menu-h .link-h.active:after, .menu-h .link-h.active:hover:after {
        bottom: -5px;
        height: 2px;
    }
}

@media screen and (max-width: 1024px) {
    /*/// pageTeacher /// + ///*/
    .many-card.active .card {
        padding: 15px;
    }
    /*/// pageTeacher /// - ///*/

    /*--- изменения 12.09.2018 + ---*/
    .findTeacher .card {
        width: 80%;
        max-width: 100%;
        margin: auto;
    }
    /*--- изменения 12.09.2018 + ---*/
}

@media screen and (max-width: 980px) {
    /*/// pageTeacher /// + ///*/
    .subscription-sort {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .teachStyle-title {
        margin-right: 0;
        width: 100%;
        margin-bottom: 15px;
    }
    .teachStyle {
        text-align: center;
    }
    .quantity{
        bottom: 2px;
    }
    .many-card.active .card {
        width: 46.8%;
    }
    .btn2 {
        margin-bottom: 10px;
    }
    .btn2field {
        left: auto;
        right: 0;
    }
    .clean-linc {
        font-size: 13px;
    }
    .btn2field {
        width: 140px;
        padding: 10px 5px;
    }
    .btn2 {
        min-width: 150px;
    }
    /*/// pageTeacher /// - ///*/
}

@media screen and (max-width: 640px) {
    /*/// pageTeacher /// + ///*/

    .search-line-ic {
        display: none;
    }
    .language-search input{
        font-size: 10px;
    }
    h6 {
        font-size: 25px;
    }
    /*/// pageTeacher /// - ///*/
    .menu-h .link-h:hover:after, .menu-h .link-h.active:after, .menu-h .link-h.active:hover:after {
        bottom: 10px;
        height: 2px;
        width: 30%;
        margin: auto;
        left: 0;
        right: 0;
    }

}

@media screen and (max-width: 480px) {
    /*/// pageTeacher /// + ///*/
    .sort {
        margin-bottom: 10px;
    }
    .card-face-img {
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 10px;
    }
    .card-status {
        flex-wrap: wrap;
    }
    .card-status-text {
        display: none;
    }
    .minInfo {
        width: 100%;
    }
    .card-status-cont {
        width: 100%;
        text-align: right;
    }
    .quantity {
        bottom: 4px;
        width: 15px;
        height: 15px;
    }
    /*/// pageTeacher /// - ///*/
    .profile-face img {
        width: 40px;
        height: 40px;
    }
    .btn2field {
        right: -40%;
    }
}

/* дополнительно */

@media screen and (max-width: 800px) {

}