/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 *
 */

.main-content {
    min-height: calc(100vh - 95px);
}

.main-content .section .section-header .header-action {
    position: absolute;
    top: -7px;
    right: 20px;
    height: 61px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-sidebar .sidebar-menu li:hover a {
    background-color: #181929;
}

.main-sidebar .sidebar-menu li.active > a {
    background-color: #574b90;
    color: #fff !important;
}

.main-sidebar .sidebar-menu li.active > a:hover {
    background-color: #3b3361;
}

.no-content {
    height: 100px;
}
.no-content:after {
    position: absolute;
    content: "Нет данных";
    left: 44%;
    top: 51%;
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group.small input,
.input-group.small .btn {
    padding: 5px 15px !important;
}

.custom-control.middle {
    font-size: 29px;
    line-height: 32px;
}

.custom-control.middle label:before,
.custom-control.middle label:after {
    top: .55rem;
}

@media (min-width: 768px) {
    .form-group.custom-fg-cb {
        margin-top: 33px;
    }
}

.table .custom-checkbox .custom-control-label:before {
    margin-top: -15px;
}

.table .custom-checkbox .custom-control-label:after {
    margin-top: -15px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #574b90;
}
.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
    background-color: #dc3545;
}
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}

.fa.fa-c-primary {
    background-color: transparent;
    color: #574B90;
}
.fa.fa-c-secondary {
    background-color: transparent;
    color: #868e96;
}
.fa.fa-c-success {
    background-color: transparent;
    color: #28a745;
}
.fa.fa-c-info {
    background-color: transparent;
    color: #17a2b8;
}
.fa.fa-c-warning {
    background-color: transparent;
    color: #ffc107;
}
.fa.fa-c-danger {
    background-color: transparent;
    color: #dc3545;
}
.fa.fa-c-light {
    background-color: #f8f9fa;
    color: #343a40;
}
.fa.fa-c-dark {
    background-color: transparent;
    color: #343a40;
}

div.dropdown-list-content i:hover {
    outline: none;
}

div.dropdown-list-content i {
    font-size: 35px;
    float: left;
    margin-left: 15px !important;
    margin-top: 5px !important;
}

.notifications-count {
    position: absolute;
    top: -2px;
    right: -1px;
    width: 18px;
    height: 18px;
    padding: 5px 0;
    font-size: 9px;
}

.project-list .table {
    margin-top: 1rem;
}

.project-list .btn.pull-right {
    margin: 5px 0 0 5px;
}
.project-list .btn.btn-warning:hover {
    color: #fff;
}

.project-list table tr:first-child {
    border-top: 1px solid #e7eaec;
}
.project-list table tr {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
}

.project-list table tr td {
    padding: 15px 10px;
    vertical-align: middle;
}

.project-list table tr td.project-actions {
    max-width: 150px;
}

@media (min-width: 1300px) {
    .project-list table tr td.project-actions {
        max-width: 370px;
    }
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    padding: 0 9px;
}
.select2-container--bootstrap4 .select2-results__option {
    padding: 5px 15px;
}

label.col-form-label.required-label:after {
    position: absolute;
    content: '*';
    color: red;
    font-size: 15px;
    top: 3px;
    margin-left: 3px;
}

.lang-item {
    padding: 0 15px;
    width: 130px;
}

.card-body > .float-right > [data-collapse] {
    margin-top: -10px;
}

.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.075) !important;
}

.table.table-separated td,
.table.table-separated th {
    border-top: 1px solid #dee2e6;
}
.table.table-separated th {
    border-bottom: 2px solid #dee2e6;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
}

.card .card-body .alert {
    min-height: 48px;
}

.transGroups {
    margin-bottom: 20px;
}
.form-group textarea.form-control {
    min-height: 94px;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.breadcrumb-item {
    font-weight: 500;
    color: #574B90;
}
.breadcrumb-item.active::before {
    padding-right: 12px;
}

.parse-data-table .btn-link {
    white-space: normal;
}

.card-header .pull-right {
    position: absolute;
    right: 20px;
    top: 10px;
}

.custom-file.custom-file-sm,
.custom-file.custom-file-sm .custom-file-input,
.custom-file.custom-file-sm .custom-file-label {
    height: 34px;
}

.custom-file.custom-file-sm .custom-file-label {
    overflow: hidden;
    white-space: nowrap;
}

.custom-file.custom-file-sm .custom-file-label::after {
    height: 32px;
}

.file-box {
    position: relative;
    float: left;
    width: 198px;
}

.file-box a,
.file-box button {
    text-decoration: none;
}

.file-box .control-btns {
    position: absolute;
    right: 25px;
    top: 5px;
    z-index: 10;
}

.file-box .control-btns a,
.file-box .control-btns button {
    position: relative;
    width: 27px;
    height: 27px;
    padding: 0;
    color: #fff;
}

.file-box .file {
    border: 1px solid #e7eaec;
    padding: 0;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 20px;
    margin-right: 18px;
}

.file-box .file .corner {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 0.6em solid transparent;
    border-right: 0.6em solid #f1f1f1;
    border-bottom: 0.6em solid #f1f1f1;
    right: 0;
    bottom: 0;
}

.file-box.selected .corner {
    border-right: 0.6em solid #0BB9BB;
    border-bottom: 0.6em solid #0BB9BB;
}

.file-box .file.error .corner {
    border-right: 0.6em solid #d84a59;
    border-bottom: 0.6em solid #d84a59;
}

.file-box.selected .file.error .corner {
    border-right: 0.6em solid #2d0004;
    border-bottom: 0.6em solid #2d0004;
}

.file-box .file .icon,
.file-box .file .image {
    height: 100px;
    overflow: hidden;
}

.file .image .img-responsive {
    width: 100%;
}

.file-box .file .file-name {
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7eaec;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-box.selected .file .file-name {
    background-color: #23C6C8;
    border-top: 1px solid #22D9DC;
}

.file-box.selected .file .file-name,
.file-box .file.error .file-name {
    color: #eeeeee;
}


.file-box.selected .file .file-name:hover,
.file-box .file.error .file-name:hover {
    color: #fff;
}

.file-box .file.error .file-name {
    background-color: #d23d4d;
    border-top: 1px solid #bb3b48;
}

.file-box.selected .file.error .file-name {
    background-color: #75000d;
    border-top: 1px solid #bb3b48;
}

.file-box .file .icon {
    padding: 15px 10px;
    text-align: center;
}

.file-box .file .icon i {
    font-size: 70px;
    color: #dadada;
}

.file-box .file.error .icon {
    background-color: #ed5565;
    color: #fff;
}

.file-box .file.error .icon i {
    font-size: 60px;
}

.inmodal .modal-header {
    padding: 30px 15px;
    text-align: center;
}

.inmodal .modal-header .close {
    margin-left: 0;
}

.inmodal .modal-header .inmodal-header-content {
    margin: 0 auto;
    padding-left: 22px;
}

.inmodal .modal-icon {
    font-size: 84px;
    color: #e2e3e3;
}

.inmodal .modal-title {
    font-size: 26px;
}

.inmodal .modal-body {
    background: #f8fafb;
}

.swal-delete-confirm {
    background-color: #DD6B55;
}

.add-invitees {
    display: inline-block;
}

.card .card-body .add-invitees .alert {
    padding: 5px 20px;
    min-height: 0;
}

.add-invitees .close {
    padding-left: 15px;
}

input:read-only, input:disabled {
    cursor: no-drop;
}

.select2-container--bootstrap4.select2-container--disabled .select2-search__field,
.select2-container--bootstrap4.select2-container--disabled .select2-selection {
    cursor: no-drop;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
    color: #000;
    opacity: .2;
}
.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove:hover {
    opacity: .75;
}

.select2-container--bootstrap4.select2-container--focus .select2-selection,
.select2-container--bootstrap4.select2-container--open .select2-selection,
.select2-container--bootstrap4 .select2-dropdown {
    border-color: #574B90;
}
.select2-container--bootstrap4 .select2-selection.is-invalid {
    border-color: #dc3545;
}

.select2-container--bootstrap4 .select2-selection--multiple.multiple-info .select2-selection__rendered {
    padding: 8px 10px 0 10px;
}

.select2-container--bootstrap4 .select2-selection--multiple.multiple-info .select2-selection__choice {
    padding: 6px 10px;
    margin: -4px 5px 0 0;
    color: #fff;
    background-color: #17a2b8;
    border: none;
}
.card-wrap > a {
    color: inherit;
    text-decoration: none;
}

.pre-text {
    white-space: pre;
    text-align: left;
}

input#social_vkontakte.form-control,
input#social_facebook.form-control,
input#social_odnoklassniki.form-control,
input#social_twitter.form-control,
input#social_google.form-control,
input#social_instagram.form-control {
    display: block !important;
}

.input-group > span.select2 {
    flex: 1 1 auto;
}

.has-invalid .invalid-feedback {
    display: block;
}

.textarea-can-delete {
    position: relative;
}

.textarea-can-delete textarea.can-delete {
    padding-right: 65px !important;
}

.textarea-can-delete .textarea-delete {
    position: absolute;
    right: 15px;
    top: 15px;
}

@media (min-width: 768px) {
    .trans-group-save {
        height: 100%;
    }

    .trans-group-save .btn {
        height: calc(100% - 46px);
        margin-top: 30px;
        margin-bottom: 16px;
    }
}

.tooltip-inner {
    max-width: none;
}

.popover .popover-header {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    color: inherit;
    background-color: #eee;
    border-bottom: 1px solid #ebebeb;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

form.inline-form {
    display: inline-block;
}

.card-header.topic-header h4 {
    max-width: calc(100% - 25px);
}

.topic-img-container {
    width: 100%;
    overflow: hidden;
}

.topic-img-container img.topic-img {
    width: 100%;
}

.card .card-header .dropdown .btn {
    width: 22px;
    height: 22px;
    padding: 6px;
}

.card .card-header .dropdown .btn:after {
    vertical-align: top;
    margin-top: 3px;
}

.topic-edit, .topic-delete {
    cursor: pointer;
}

.topic-edit:hover, .topic-delete:hover {
    color: #fff;
}

.topic-edit:hover {
    background-color: #574b90;
}

.topic-delete:hover {
    background-color: #bd2130;
}

.tooltip-inner {
    max-width: 80vw;
}

.btn.question-delete-answer {
    position: absolute;
    top: 10px;
    right: 10px;
}

.question-correct-answer {
    position: absolute;
    top: 55px;
    right: 25px;
    padding-left: 0;
    padding-right: 25px;
}

.question-correct-answer .custom-control-label:before,
.question-correct-answer .custom-control-label:after {
    top: 0;
    right: -20px;
    left: unset;
}

.question-extra-answers .form-group {
    position: relative;
}

.question-extra-answers .question-correct-answer {
    right: 10px;
}

.question-answers textarea.form-control {
    padding-right: 95px !important;
}

.pages-seo table tr td {
    vertical-align: middle;
}

.pages-seo table tr td.seo-statuses {
    width: 320px;
}

.error-layout .btn.btn-link:hover {
    color: #0056b3;
    text-decoration: underline;
}
.error-layout .btn.btn-link {
    color: #574B90;
    font-weight: 500;
    padding: 0;
    margin: 0;
    border: none;
}

a.hidden-class {
    color: #888;
}

a.hidden-class:hover,
a.hidden-footer-class:hover {
    color: #aaa;
}

input.form-control::placeholder,
input.form-control::-moz-placeholder,
input.form-control::-webkit-input-placeholder,
input.form-control:-ms-input-placeholder,
input.form-control::-ms-input-placeholder {
    color: #868e96;
}

.custom-control-label.limited {
    white-space: nowrap;
    text-overflow: ellipsis;
}