$speed: 0.6s;
$delay: ($speed * .5);
$easing: cubic-bezier(.55,0,.1,1);

.no-overflow {
  overflow: hidden;
}

.custom-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(#000, 0.6);
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
  transition: opacity $speed $easing, visibility $speed $easing;
  &.not-init {
    transform: none !important;
    transition: none !important;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}



/**
 * custom-modal
 */
.custom-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  max-width: 80%;
  max-height: 90%;
  padding: 1rem;
  border-radius: 3px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  box-shadow: 0 2px 10px rgba(#000, 0.1);
  backface-visibility: hidden;
  transform: scale(1.2);
  transition: all $speed $easing;
  &.not-init {
    transform: none !important;
    transition: none !important;
    .close-custom-modal {
      transform: none !important;
      transition: none !important;
    }
    .custom-modal-content {
      transform: none !important;
      transition: none !important;
    }
  }

  .close-custom-modal {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity $speed $easing, transform $speed $easing;
    transition-delay: $delay;
    z-index: 100;

    svg {
      width: 1.75em;
      height: 1.75em;
    }
  } // close custom-modal

  .custom-modal-content {
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity $speed $easing;
    transition-delay: $delay;
    max-width: 100%;
    max-height: 85vh;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  } // content

  &.active {
    visibility: visible;
    opacity: 1 !important;
    transform: scale(1);

    .custom-modal-content {
      opacity: 1;
    }

    .close-custom-modal {
      transform: translateY(10px);
      opacity: 1;
    }
  }
}